@import url('reset.css');

body {
    background: #eee;
    font-size: 16px;
}

#container {
    background: #fff;
    border: 1px solid #666;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

.current-device-class {
    float: right;
    background: #def;
    padding: 10px;
}

.change-device-class {
    display: block;
    margin-top: 20px;
}

