@import 'mixins.less';

.audible {
    position: absolute;
    left: -10000em;
}

.accessibility {
    &.bypass-links {
        position: absolute;
        
        a {
            position: absolute;
            left: -10000em;
            width: 1px;
            height: 1px;
            overflow: hidden;
            
            &:focus, &:active {
                position: static;
                left: 0;
                width: auto;
                height: auto;
                overflow: visible;
            }
        }
    }
    
    &.text-resizing-guidance {
        span {
            cursor: pointer;
            font-weight: bold;
            
            span {                
                &:first-child {
                    font-size: 0.6em;
                }
                
                &:nth-child(2) {
                    font-size: 0.8em;
                }
            }
        }
        
        p {
            display: none;
            position: absolute;
            z-index: 999;
            top: 30px;
            right: 30px;
            background: #fff;
            .border-radius(5px);
            padding: 20px;
            min-width: 1000px;
        }
    }
}